<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.platform.mapper.QaHistoryMapper">
    
    <select id="findByUserId" resultType="com.student.platform.entity.QaHistory">
        SELECT * FROM qa_history WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>
    
    <select id="findByBookId" resultType="com.student.platform.entity.QaHistory">
        SELECT * FROM qa_history WHERE book_id = #{bookId} ORDER BY created_at DESC
    </select>
    
    <select id="findByKnowledgeNodeId" resultType="com.student.platform.entity.QaHistory">
        SELECT * FROM qa_history WHERE knowledge_node_id = #{knowledgeNodeId} ORDER BY created_at DESC
    </select>
    
    <select id="findByQuestionType" resultType="com.student.platform.entity.QaHistory">
        SELECT * FROM qa_history WHERE question_type = #{questionType} ORDER BY created_at DESC
    </select>
    
</mapper>
